


   .btn_Submit{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    width: 90%;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
}

.btn_Submit:hover {
    background: #668ad8;
    color: #FFF;
    margin-bottom:10px
}
 

.row1{
   
    margin-top: 500;
    margin-bottom:200 ;
  margin-left: auto;
  margin-right: auto;
}
.container1{
    margin-top: 5%;
    max-width: 300px;
    padding: 16px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
   height: 40; 
   border: black solid 3px;
   border-color: black;
   border-top-color: black;
}
.form-control{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border: black solid 1px;
    
    
}
.errorMessage{
  font-size: small;
  font-style:initial;
  margin-top: 0;
  margin-bottom:0 ;
  

}

 .span { 
    display: block; 
    overflow: hidden; 
    padding: 0px 4px 0px 6px; 
}

.form-label{
  font-style: blue;
  color: rgb(7, 7, 7);
}


TML CSSResult Skip Results Iframe
EDIT ON
html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.btn_3 {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

  .btn_3::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.btn_3:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.btn_3:hover::before, button:focus::before {
  opacity: 1;
}

.btn_3::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.btn_3:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
 */