

.grid-container1 {
  display: grid;
 
  grid-template-columns: repeat(1, 1fr);
   
  grid-auto-rows: auto  ;
  
  grid-gap: 1rem;}

.grid-item1 {
  border: 1px solid #181515;
 
  border-radius: 2px;
   
  padding: .2rem;
}  

.btn1{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  width: 3%;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  width: 200px; 
}

.btn1:hover {
  background: #cbedff;
  color: #FFF;
}

img {
  float:left; 
  margin-right:15px;
  height: 128px;
  width: 128px;
}
.card{
  margin-bottom: "10px"
}

.btn2{
 width: 100px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
}

.btn2:hover {
  background: #668ad8;
  color: #FFF;
}
.sum{
  font-weight: bold;
  padding: 0.5em 1em;
}
